<div class="login-register-form">
  <h2>Login</h2>
  <form [formGroup]="form">
    <div class="col-auto">
      <label for="inputEmail" class="visually-hidden">Email</label>
      <input formControlName="email" type="email" class="form-control" id="loginEmail" placeholder="Email">
    </div>
    <div class="col-auto">
      <label for="inputPassword" class="visually-hidden">Password</label>
      <input formControlName="password" type="password" class="form-control" id="loginPassword" placeholder="Password">
    </div>
    <div class="col-auto">
      <button (click)="login()" type="button" class="button-28">Login</button>
    </div>
    <div class="col-auto">
      <button (click)="register()" type="button" class="button-28" >Register</button>
    </div>
  </form>
</div>
