<div class="d-flex" >
  <div class="row row-cols-1 row-cols-md-3 g-4" >
    <div class="col" *ngFor="let animal of animals">
      <div class="card">
        <img src="{{animal.img}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Pet name: {{animal.name}}</h5>
          <p class="card-text">Adoption Location: {{animal.adoption.location}}</p>
          <p class="card-text">Species: {{animal.species}}</p>
          <p class="card-text">Gender: {{animal.gender}}</p>
          <p class="card-text">Main Color: {{animal.color}}</p>
          <p class="card-text">Breed: {{animal.breed}}</p>
          <p class="card-text">Age: {{animal.age}}</p>

          <p class="card-text">Contact Information:</p>
          <p class="card-text">Number: {{animal.adoption.number}}</p>
          <!-- name of adoption agency -->
          <a href="#" class="card-link">{{animal.adoption.name}}</a> 
          <a href="#" class="card-link">{{animal.adoption.email}}</a>
          <button (click)="removeAnimal(animal.id)" class="btn btn-primary" type="submit">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>