<div class="d-flex">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img
          src="../../../assets/img/puppy.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Pet name: Lucky</h5>
          <p class="card-text">Adoption Location: Austin</p>
          <p class="card-text">Species: Dog</p>
          <p class="card-text">Gender: Male</p>
          <p class="card-text">Main Color: Brown</p>
          <p class="card-text">Breed: Rottweiler</p>
          <p class="card-text">Age: 1</p>

          <p class="card-text">Contact Information:</p>
          <p class="card-text">Number: 211-111-1111</p>
          <a href="#" class="card-link">Adoption website</a>
          <a href="#" class="card-link">Email</a>
          <button class="btn btn-primary" type="submit">Remove</button>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img
            src="../../../assets/img/puppy.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Pet name: Lucky</h5>
            <p class="card-text">Adoption Location: Austin</p>
            <p class="card-text">Species: Dog</p>
            <p class="card-text">Gender: Male</p>
            <p class="card-text">Main Color: Brown</p>
            <p class="card-text">Breed: Rottweiler</p>
            <p class="card-text">Age: 1</p>
  
            <p class="card-text">Contact Information:</p>
            <p class="card-text">Number: 211-111-1111</p>
            <a href="#" class="card-link">Adoption website</a>
            <a href="#" class="card-link">Email</a>
            <button class="btn btn-primary" type="submit">Remove</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="../../../assets/img/puppy.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Pet name: Lucky</h5>
            <p class="card-text">Adoption Location: Austin</p>
            <p class="card-text">Species: Dog</p>
            <p class="card-text">Gender: Male</p>
            <p class="card-text">Main Color: Brown</p>
            <p class="card-text">Breed: Rottweiler</p>
            <p class="card-text">Age: 1</p>
  
            <p class="card-text">Contact Information:</p>
            <p class="card-text">Number: 211-111-1111</p>
            <a href="#" class="card-link">Adoption website</a>
            <a href="#" class="card-link">Email</a>
            <button class="btn btn-primary" type="submit">Remove</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="../../../assets/img/puppy.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Pet name: Lucky</h5>
            <p class="card-text">Adoption Location: Austin</p>
            <p class="card-text">Species: Dog</p>
            <p class="card-text">Gender: Male</p>
            <p class="card-text">Main Color: Brown</p>
            <p class="card-text">Breed: Rottweiler</p>
            <p class="card-text">Age: 1</p>
  
            <p class="card-text">Contact Information:</p>
            <p class="card-text">Number: 211-111-1111</p>
            <a href="#" class="card-link">Adoption website</a>
            <a href="#" class="card-link">Email</a>
            <button class="btn btn-primary" type="submit">Remove</button>
          </div>
        </div>
      </div>
  </div>
</div>
