<!-- with help from https://codepen.io/julessmiles/pen/yJqQKK -->

<div class="tphoto" *ngIf="animals.length > 0 && index < animals.length"
[@cardAnimator]="animationState"
(@cardAnimator.done)="resetAnimationState()"
(swipeleft)='startAnimation("swipeleft")' 
(swiperight)='startAnimation("swiperight")'
>
<div class="tname">{{animals[index].name}}</div>
<img [src]="animals[index].img" title="tphoto" alt="Animal picture" />
</div>
 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{animals[index].name}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Gender: {{animals[index].gender}}</p>
          <p>Main Color: {{animals[index].color}}</p>
          <p>Age: {{animals[index].age}}</p>
          <p>Breed: {{animals[index].breed}}</p>
          <p>Species: {{animals[index].species}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>