<div class="d-flex">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Lucky</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Dog</h6>
          <p class="card-text">Male</p>
          <p class="card-text">Brown</p>
          <p class="card-text">Breed:Pitbull</p>
          <p class="card-text">Age: 1</p>
        </div>
      </div>
<app-img-carousel></app-img-carousel>
<button class="btn btn-primary" type="submit">Undo</button>
<button class="btn btn-primary" type="submit">Like</button>
<button class="btn btn-primary" type="submit">Dislike</button>
</div>