/* with help from https://codepen.io/julessmiles/pen/yJqQKK */
.tbg{
    /* prevents horizontal scroll bar appearing  */
    overflow-x:hidden;  
  }
  
  /************************
  Tinder Template by Miami
  ************************/
  .tbg {
      height: 800px;
      width: 400px;
      background-color: #fff;
      margin: 0 auto;
      border: 1px solid #c0c0c0;
  }
  .tbgwrap { padding: 10px; }
  .tno {
      background-color: #fff;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      position: relative;
      display: inline-block;
      top: 72px;
      left: 42px;
      border: 10px solid #f0f0f0;
      transition: background-color 0.3s ease;
  }
  .tno:hover {
    background-color: #020202;
}
  .tno i {
      color: #ff695b;
      font-size: 80px;
      padding: 17px 28px;
  }
  .ti {
      background-color: #fff;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      position: relative;
      display: inline-block;
      left: 50px;
      top: 40px;
      border: 10px solid #f0f0f0;
      transition: background-color 0.3s ease;
  }
  .ti:hover {
    background-color: #020202;
}
  .ti .fa-info {
      font-size: 23px;
      padding: 15px 20px;
      color: #398beb;
  }
  .tyes {
      background-color: #fff;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      position: relative;
      display: inline-block;
      top: 48px;
      left: 60px;
      border: 10px solid #f0f0f0;
      transition: background-color 0.3s ease;
  }

  .tyes:hover {
    background-color: #35cdcd ; 
}
  .tyes i {
      color: #5de19c;
      font-size: 60px;
      padding: 35px 30px;
  }

#x-img{
    position: relative;
    display: inline-block;
    top: -20px;
    left: -13px;
}

#i-img {
    position: relative;
    display: inline-block;
    top: -6px;
    left: -15px;
}

#heart-img{
    position: relative;
    display: inline-block;
    top: 0px;
    left: -14px;
}

#x-img,
#heart-img,
#i-img {
    position: relative;
    display: inline-block;
    transition: filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
   
}

.tno:hover #x-img,
.tyes:hover #heart-img,
.ti:hover #i-img {
    filter: brightness(0);
}
.tno:hover #x-img,
.ti:hover #i-img {
    filter:invert(50)
}

.tno:hover,
.tyes:hover,
.ti:hover {
    cursor: pointer;
}

@media only screen and (max-width: 400px) {
    .tbg {
        height: 800px;
        width: 400px;
        background-color: #fff;
        margin: 0 auto;
        border: 0;
        margin: -8px;
    }
}

@media only screen and (max-width: 800px) {
    .tbg {
        height: 800px;
        width: 400px;
        background-color: #fff;
        margin: 0 auto;
        border:0;
    }
}