<!-- with help from https://codepen.io/julessmiles/pen/yJqQKK -->
<div class="tbg">
  <div class="tbgwrap">
    <app-card 
    [parentSubject]="parentSubject" 
    [animals]="animals" 
    (liked)="currentAnimal = $event">
  </app-card>
  
    <div class="tcontrols">
      <div (click)='cardAnimation2("swipeleft")'  class="tno"><i class="fa fa-times" aria-hidden="true"><img src="../../../assets/img/letter-x.png" width="70px" id="x-img"></i></div>
      <div class="ti" ><i class="fa fa-info" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="../../../assets/img/letter-i.png" width="20px" id="i-img"></i></div>
      <div (click)='cardAnimation1("swiperight")' class="tyes"><i class="fa fa-heart" aria-hidden="true"><img src="../../../assets/img/heart.png" width="70px" id="heart-img"></i></div>

    </div>
  </div>
</div>